<div class="card login">
    <h5 class="card-header">{{titulo}}</h5>
    <div class="card-body">
        <div>
            <div>

            </div>
            <h3></h3>
            <form class="m-t" role="form" action="index.html">
                <div class="form-group">
                    <input [(ngModel)]="authRequest.username" name="username" type="text" class="form-control" placeholder="Usuario" required="">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="authRequest.password" name="password" type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button (click)='login()' type="submit" class="btn btn-primary block full-width m-b">Entrar</button>
            </form>
            <p class="m-t"> <small>Todos los derechos reservados &copy; 2021</small></p>
        </div>
    </div>
</div>